@model IEnumerable<Ingredient>

@{
    ViewBag.Title = "List of Restaurant Ingredients";
}

<h1 class="text-center my-4">Ingredients</h1>

<div class="d-flex justify-content-end mb-3">
    <a asp-action="Create" class="btn btn-primary">+ Create New Ingredient</a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover shadow-sm">
        <thead class="table-dark">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Ingredient i in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => i.Name)</td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@i.IngredientId" class="btn btn-outline-info btn-sm mx-1">Details</a>
                        <a asp-action="Edit" asp-route-id="@i.IngredientId" class="btn btn-outline-warning btn-sm mx-1">Edit</a>
                        <a asp-action="Delete" asp-route-id="@i.IngredientId" class="btn btn-outline-danger btn-sm mx-1">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
